<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>

    <session-factory>

		<!-- datasource -->
        <property name="dialect">net.sf.hibernate.dialect.MySQLDialect</property>		
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bookstore</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">password</property>
        <property name="show_sql">true</property>

        <!-- Mapping files -->
        <mapping resource="Book.hbm.xml"/>
        <mapping resource="OrderStatus.hbm.xml"/>
        <mapping resource="CustomerOrder.hbm.xml"/>
        <mapping resource="OrderItem.hbm.xml"/>
        <mapping resource="Category.hbm.xml"/>

    </session-factory>

</hibernate-configuration>
