<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <description>Wrox Beginning JSP- Project I</description>
    <display-name>Project I- Personalized Portal</display-name>


    <!-- Log4j Configuration -->
    <servlet>
      <servlet-name>WroxLogServlet</servlet-name>
      <servlet-class>com.wrox.begjsp.ch27.servlet.WroxLogServlet</servlet-class>
      <init-param>
        <param-name>log4jconfig</param-name>
	<param-value>/WEB-INF/log4j.properties</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Load memory databases -->
    <servlet>
      <servlet-name>DBServlet</servlet-name>
      <servlet-class>com.wrox.begjsp.ch27.servlet.DBServlet</servlet-class>
      <init-param>
        <param-name>databasePath</param-name>
	<param-value>/WEB-INF/classes/</param-value>
      </init-param>
      <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- Action Servlet Configuration -->
    <servlet>
      <servlet-name>action</servlet-name>
      <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
      <init-param>
        <param-name>config</param-name>
        <param-value>/WEB-INF/struts-config.xml</param-value>
      </init-param>
      <load-on-startup>3</load-on-startup>
    </servlet>

    <!-- Tiles Servlet Configuration -->
   <servlet>
    <servlet-name>tilesaction</servlet-name>
    <servlet-class>org.apache.struts.tiles.TilesServlet</servlet-class>
    <init-param>
      <param-name>definitions-config</param-name>
      <param-value>/WEB-INF/tiles-defs.xml</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
   </servlet>


  <!-- Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>


  <!-- The Welcome File List -->
  <welcome-file-list>
    <welcome-file>logon.jsp</welcome-file>
  </welcome-file-list>

  <!-- Application Tag Library Descriptor -->
  <taglib>
    <taglib-uri>/WEB-INF/app.tld</taglib-uri>
    <taglib-location>/WEB-INF/app.tld</taglib-location>
  </taglib>

  <!-- Struts Tag Library Descriptors -->
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>

</web-app>
