<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
	<icon></icon>
	<display-name>Chapter 17 Example MVC Application</display-name>
	<description>Chapter 17 Example MVC Application</description>

	<servlet>
		<servlet-name>controller</servlet-name>
		<servlet-class>com.wrox.begjsp.ch17.mvc.SimpleController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
</web-app>
